/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-emt-logo-showcase {
	padding: 20px;
	// A very dark box shadow to make the block stand out.
	box-shadow: 0 0 10px 0px #888;
	border-radius: 20px;

	.block-title {
		margin: 0 0 20px;
		font-size: 40px !important;
		text-transform: uppercase;
		text-align: center;
		background-color: #eee;
		border-radius: 10px;
	}

	.preview-title {
		margin: 0;
		text-align: center;
		font-size: 22px !important;
	}

	.preview {
	}

	.grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 10px;
	}
}
